{% extends "base.html" %}
{% block head %}

{% endblock %}
{% block title %}
{% endblock %}
{% block content %}
    <div>
        <h3> Profile page </h3>
    </div>
    <div>
        <label>Name:</label>
        <input readonly="true" value="Sangam"> <br>

        <label>Age:</label>
        <input readonly="true" value="19"> <br>

        <label>Std:</label>
        <input readonly="true" value="TyBscIt"> <br>

        <label>Div:</label>
        <input readonly="true" value="B" > <br>
    </div>
{% endblock %}